<h1 class="greeting">Hey, <%=@user.first_name%>! Welcome to Queen For A Day!</h1>
<div class="create_booking_link">
<%= link_to 'Create A Booking!', '/bookings/new' %>
</div>
 <!-- Shows the date and time of booking, along with editting-->
 <!-- and deleting the booking -->
<div class="booking">
  Current booking: <br>
  <ol>
    <%if @user.bookings.any?%>
      <%@user.bookings.each do |booking|%>
      <!-- Booking date, time, then location -->
        <li><%=booking.date.strftime("%b %d, %Y")%> at <%=booking.time.strftime("%H:%M %p")%> in <%=link_to booking.venue.name, venue_path(booking.venue)%></li><br>
        <!-- deletes the booking -->
            <%= form_for booking, method: :delete, local: true do |form| %>
              <%= form.submit "Remove", class: "button"%>
            <%end%>
          <!-- edits booking -->
          <%= link_to "Edit", edit_booking_path(booking)%>
      <%end%>
    <%else%>
      You don't have any bookings! <%= link_to "Make a booking here!", '/bookings/new' %>
    <%end%>
  </ol>
</div>

<div class="listings_queens">
  <%=link_to "List of Queens", '/queens'%>
</div>

<div class="listings_venues">
  <%=link_to "List of Venues", '/venues'%>
</div>
