<h1><%=@queen.drag_name%></h1>

<!-- Show page for queen -->
<!-- Add in bio -->
<h4>Real name: <%=@queen.name%></h4>
<h5>Hometown: <%= @queen.hometown%></h5>

<h5>Short bio:</h5>
<p class="bio"><%=@queen.bio%></p>

<figure>
  <img src="<%=@queen.img_url%>">
</figure>
